// Config prova

// Manifest
manifest {
  name = 'nf-pgp-perturbseq'
  author = 'Andrea Cossa, Roman Hillje et al.'
  homePage = 'https://gitlab.com/HPC_migration/nf-pgp-perturbseq'
  description = 'Analysis workflows for Perturb-seq experiments.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1'
}

// Profiles
profiles {

  local {
    docker.enabled = true
    docker.runOptions = '--volume /Users/:/Users/'
  }
  hpc {
    executor.name = 'pbspro'
    process.queue = 'workq'
    singularity.enabled = true
    singularity.runOptions = '--bind /hpcnfs'
  }
  hpc_nocg {
    executor.name = 'pbspro'
    process.queue = 'nocg_workq'
    singularity.enabled = true
    singularity.runOptions = '--bind /hpcnfs'
  }

}

// Processes
process {

  errorStrategy = 'retry'
  maxRetries = 3

  //

  // Bulk 
  withName: SEARCH_PATTERNS {
    cpus = 1
    memory = '1G'
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: EXTRACT_READS {
    cpus = 1
    memory = '1G'
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: FIND_GBC {
    cpus = 1
    memory = '1G'
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: REMOVE_SHORT {
    cpus = 1
    memory = { 5.GB * task.attempt }
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: WHITELIST {
    cpus = 1
    memory = { 5.GB * task.attempt }
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: FORMAT_WHITELIST {
    cpus = 1
    memory = '1G'
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: CORRECT {
    cpus = 1
    memory = '1G'
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: COUNT {
    cpus = 1
    memory = { 5.GB * task.attempt }
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: INFER_PREVALENCES {
    cpus = 1
    memory = '1G'
    container = 'acox1/mi_to:1.0'
  }
  withName: generate_run_summary_bulk {
    cpus = 1
    memory = '1G'
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: publish_bulk {
    cpus = 1
    memory = '1G'
    container = 'acox1/nf-perturbseq:1.0'
  }

  //

  // sc
  withName: MERGE_TENX {
    cpus = 1
    memory = '1G'
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: MERGE_GBC {
    cpus = 1
    memory = '1G'
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: GET_GBC_ELEMENTS {
    cpus = 1
    memory = '1G'
    container = 'acox1/mi_to:1.0'
  }
  withName: FASTA_FROM_REF {
    cpus = 1
    memory = '1G'
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: BOWTIE_INDEX_REF {
    cpus = 1
    memory = '1G'
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: GBC_TO_FASTA {
    cpus = 1
    memory = '1G'
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: ALIGN_GBC {
    cpus = 1
    memory = '1G'
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: SOLO {
    cpus = 1
    memory = '1G'
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: CELL_ASSIGNMENT {
    cpus = 2
    memory = '10G'
    container = 'acox1/mi_to:1.0'
  }
  withName: generate_run_summary_sc {
    cpus = 1
    memory = '1G'
    container = 'acox1/nf-perturbseq:1.0'
  }
  withName: publish_sc {
    cpus = 1
    memory = '1G'
    container = 'acox1/nf-perturbseq:1.0'
  }  

}

//

// Tracing
trace {
    enabled = true
    file = "trace.txt"
    overwrite = true
}

// Tower
tower {
    enabled = true
}